<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email"ng-model="someModelIamUsing"
        pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="danger" *ngIf="onLoginForm.get('email').errors && onLoginForm.get('email').dirty">
        <ion-text color= "danger">
            Email is not valid!
        </ion-text>
      </p>

      <p ion-text class="text08" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">
        <ion-text color="danger">
          Required Field
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="danger">
          Required Field
        </ion-text>
        </p>
    </form>

    <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="dark">
        <strong>Forgot Pass?</strong>
      </ion-text>
    </p>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="goToHome()" [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Signin
      </ion-button>

      <p text-center>
        <ion-text color="dark">
          Or Signin with:
        </ion-text>
      </p>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="dark">
          New here? <strong>Sign Up</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>